aside.logo {
    background-color: $cor-bg-escura;
}

aside.logo a {
    display: block;
    padding: 15px;
}

aside.logo img {
    width: 50%;
    margin-left:23% ;
}

@media(max-width: $largura-sm-max) {
    aside.logo {
        display: flex;
        justify-content: center;
    }

    aside.logo img {
        padding: 0px;
        width: 40%;
        margin-left:25% ;
    }
}