$fonte-principal: 'Montserrat', sans-serif;

// Cores
$cor-vermelha-1: #0fffc6;
$cor-azul-1: #080e24;
$cor-bg-hblue: #1a2f3a;
$cor-branca: #FFF;

$cor-bg-escura: #1A2F3A;

$gradiente-1: linear-gradient(135deg, #085078 0%, #0fffc6 100%);
$gradiente-2: linear-gradient(135deg,#2c3e50 0%, #bdc3c7 100%);
$gradiente-3: linear-gradient(135deg, #808080 0%, #3fada8 100%);
$gradiente-4: linear-gradient(135deg, #159957 0%, #155799 100%);


// Tamanhos
$altura-logo: 80px;
$altura-cabecalho: 80px;
$altura-menu-top: 80px;
$largura-barra-lateral: 225px;
$altura-rodape: 40px;

// Tamanho dos dispositivos
$largura-xl-min: 1200px;
$largura-lg-max: 1199px;
$largura-lg-min: 992px;
$largura-md-max: 991px;
$largura-md-min: 768px;
$largura-sm-max: 767px;
$largura-sm-min: 576px;
$largura-xs-max: 575px;
$largura-xs-min: 0px;